<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>User info</h2>
      <%= render 'users/info', user: @user %>
      <h2 class="mt-3">New book</h2>
      <%= render 'form', book: @book_new %>
    </div>
    <div class='col-md-8 offset-md-1'>
  		<h2>Book detail</h2>
  		<table class='table'>
  		  <tr>
          <td>
            <%= link_to(@book.user) do %>
            <%= image_tag @book.user.get_profile_image, size:"50x50" %><br>
            <%= @book.user.name %>
            <% end %>
          </td>
          <td><%= link_to @book.title, @book %></td>
          <td><%= @book.body %></td>

          <!--いいね欄-->
        <!--いいねが押されてるか押されてないか、ログインしてる人の情報（自分の情報）が必要-->
        <td id="favorite_buttons_<%= @book.id %>">
        <%= render "favorites/btn", book: @book %>
        </td>

          <!--コメント数表示-->
          <td>
          コメント数：<%= @book.book_comments.count %>
          </td>

      <!--もしログインユーザーが本を投稿してるユーザーだったらedit,destroy表示-->
          <% if @book.user == current_user %>
          <td><%= link_to 'Edit', edit_book_path(@book), class: "btn btn-sm btn-success" %></td>
          <td><%= link_to 'Destroy', @book, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger"%></td>
          <% end %>
        </tr>
      </table>
      <!--投稿したコメント一覧-->
      <!--コメントしたユーザーの画像、名前、こめんと内容、削除-->
      <table>
        <tr>
          <td>
            <% @book.book_comments.each do |book_comment| %>
              <%= link_to user_path(book_comment.user.id) do %>
                <p><%= image_tag book_comment.user.get_profile_image, size:'50x50' %><br>
                <%= book_comment.user.name %>
              <% end %>

               <%= book_comment.comment %>
              <!--本のコメントしたユーザーがログインしたーユーザーだったら-->
              <% if book_comment.user == current_user %>
                <%= link_to "Destroy", book_book_comment_path(book_comment.book, book_comment), method: :delete, class: "btn btn-sm btn-danger"%></ %>
              <% end %>
            <% end %>
          </td>
        </tr>
      </table>

      <!--コメント投稿欄-->
      <!--レンダーbook_comments/_form.erb-->
      <!--2つ記述するbookとbook_commentが親子関係だから-->
      <%= render 'book_comments/form', book: @book, book_comment: @book_comment %>

    </div>
  </div>
</div>


